.vscode/
.DS_Store

build/
output/

*.tiled-session

# Ignore all DLCs except dpr_main and dpr_light
mods/*
!/mods/dpr_main/
!/mods/dpr_light/

DarkPlaceREBIRTH.lnk
open.bat

# Ignore aseprite files
*.ase
*.aseprite

# desktop.ini files
*.ini
Kristal.bat
